.stMainBlockContainer {
    max-width: 65rem;
}

/* Styling the tab list container */
div[data-baseweb="tab-list"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

/* Hover effect for the container */
div[data-baseweb="tab-list"]:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.group-name {
    margin-top: 450px;
    width: 100%;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.group-name span {
    display: block;
    font-size: 10px;
    font-weight: 500;
    font-style: italic;
    margin: 5px 0;/
}

.group-name span:first-child {
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}

.st-emotion-cache-6qob1r {
    overflow: hidden;
}